# n65asm default opcode table
# syntax: MNEMONIC MODE OPCODE
# modes: imp acc imm zp zpx zpy abs absx absy ind indx indy rel

ADC  imm  $69
ADC  zp   $65
ADC  zpx  $75
ADC  abs  $6D
ADC  absx $7D
ADC  absy $79
ADC  indx $61
ADC  indy $71
AND  imm  $29
AND  zp   $25
AND  zpx  $35
AND  abs  $2D
AND  absx $3D
AND  absy $39
AND  indx $21
AND  indy $31
ASL  acc  $0A
ASL  zp   $06
ASL  zpx  $16
ASL  abs  $0E
ASL  absx $1E
BCC  rel  $90
BCS  rel  $B0
BEQ  rel  $F0
BMI  rel  $30
BNE  rel  $D0
BPL  rel  $10
BVC  rel  $50
BVS  rel  $70
BIT  zp   $24
BIT  abs  $2C
BRK  imp  $00
CLC  imp  $18
CLD  imp  $D8
CLI  imp  $58
CLV  imp  $B8
CMP  imm  $C9
CMP  zp   $C5
CMP  zpx  $D5
CMP  abs  $CD
CMP  absx $DD
CMP  absy $D9
CMP  indx $C1
CMP  indy $D1
CPX  imm  $E0
CPX  zp   $E4
CPX  abs  $EC
CPY  imm  $C0
CPY  zp   $C4
CPY  abs  $CC
DEC  zp   $C6
DEC  zpx  $D6
DEC  abs  $CE
DEC  absx $DE
DEX  imp  $CA
DEY  imp  $88
EOR  imm  $49
EOR  zp   $45
EOR  zpx  $55
EOR  abs  $4D
EOR  absx $5D
EOR  absy $59
EOR  indx $41
EOR  indy $51
INC  zp   $E6
INC  zpx  $F6
INC  abs  $EE
INC  absx $FE
INX  imp  $E8
INY  imp  $C8
JMP  abs  $4C
JMP  ind  $6C
JSR  abs  $20
LDA  imm  $A9
LDA  zp   $A5
LDA  zpx  $B5
LDA  abs  $AD
LDA  absx $BD
LDA  absy $B9
LDA  indx $A1
LDA  indy $B1
LDX  imm  $A2
LDX  zp   $A6
LDX  zpy  $B6
LDX  abs  $AE
LDX  absy $BE
LDY  imm  $A0
LDY  zp   $A4
LDY  zpx  $B4
LDY  abs  $AC
LDY  absx $BC
LSR  acc  $4A
LSR  zp   $46
LSR  zpx  $56
LSR  abs  $4E
LSR  absx $5E
NOP  imp  $EA
ORA  imm  $09
ORA  zp   $05
ORA  zpx  $15
ORA  abs  $0D
ORA  absx $1D
ORA  absy $19
ORA  indx $01
ORA  indy $11
PHA  imp  $48
PHP  imp  $08
PLA  imp  $68
PLP  imp  $28
ROL  acc  $2A
ROL  zp   $26
ROL  zpx  $36
ROL  abs  $2E
ROL  absx $3E
ROR  acc  $6A
ROR  zp   $66
ROR  zpx  $76
ROR  abs  $6E
ROR  absx $7E
RTI  imp  $40
RTS  imp  $60
SBC  imm  $E9
SBC  zp   $E5
SBC  zpx  $F5
SBC  abs  $ED
SBC  absx $FD
SBC  absy $F9
SBC  indx $E1
SBC  indy $F1
SEC  imp  $38
SED  imp  $F8
SEI  imp  $78
STA  zp   $85
STA  zpx  $95
STA  abs  $8D
STA  absx $9D
STA  absy $99
STA  indx $81
STA  indy $91
STX  zp   $86
STX  zpy  $96
STX  abs  $8E
STY  zp   $84
STY  zpx  $94
STY  abs  $8C
TAX  imp  $AA
TAY  imp  $A8
TSX  imp  $BA
TXA  imp  $8A
TXS  imp  $9A
TYA  imp  $98
